@import "../../SCSS/colors";
.slick-dots {
  display: none !important;
}

.slick-next {
  right: 50px;
}

.slick-prev {
  left: 50px;
}

.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
}

@media screen and (max-width: 1023px) {
  .slick-slide img {
    width: 100%;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 20px;
  }
  .slick-next {
    right: 20px;
  }

  .slick-prev {
    left: 20px;
  }
}
