@import "./SCSS/reset";
@import "./SCSS/colors";

.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: $main-color;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;

}